img {
    image-rendering: pixelated;
}
body {
    color: white;
    background-color: rgb(10, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(25, 25, 25);
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    padding-left: 12px;
    padding-right: 12px;
    
    div {
        width: 33vw;
        max-width: 33vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a, button {
        background-color: rgb(25, 25, 25);
        color: white;
        transition-duration: 100ms;
        border: none;
        padding: 8px;
        margin: 0;
        cursor: pointer;
        text-decoration: none;
        font-size: 12px;
    }
    a:hover, button:hover {
        background-color: rgb(10, 10, 10);
        transition-duration: 100ms;
        
    }
}
.tabBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: none;
    justify-content: center;
    button {
        background-color: rgb(10, 10, 10);
        color: white;
        transition-duration: 100ms;
        border: 1px solid gray;
        border-bottom: 2px solid gray;
        border-radius: 5px;
        width: 100px;
        height: 40px;
        margin: 4px;
        cursor: pointer;
    }
    button:hover {
        transition-duration: 100ms;
        background-color: rgb(25, 25, 25);
    }
}
#memberList {
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
}
.memberList {
    background-color: rgb(25, 25, 25);
    border: 1px solid white;
    border-radius: 25px;
    width: 99vw;
    
}
.memberOptions {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    button, select {
        background-color: rgb(10, 10, 10);
        color: white;
        transition-duration: 100ms;
        border: 1px solid gray;
        border-bottom: 2px solid gray;
        border-radius: 5px;
        width: 100px;
        height: 40px;
        margin: 4px;
        cursor: pointer;
    }
    .full {
        width: auto;
    }
    button:hover, select:hover, select:open {
        transition-duration: 100ms;
        background-color: rgb(25, 25, 25);
    }
    .memberOptionsGuide {
        display: flex;
        flex-direction: column;

    }
    .memberOptionsGuideText {
        padding: 0;
        margin: 4px !important;
        margin-left: 24px !important;
        margin-right: 24px !important;
        
    }
}
.member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding: 8px;
    border-radius: 10px;
    .memberInfo {
        display: flex;
        flex-direction: column;
        .one {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            align-items: end;
            p {
                padding: 0;
                margin: 0;
                font-size: 16px;
            }
            .level {
                color: gray;
                margin-left: 12px;
                font-size: 14px;
            }
        }
        .pid {
            color: gray;
            padding: 0;
            margin: 0;
            font-size: 12px;
        }
        
    }
    .label {
        margin: 0;
        font-size: 14px;
    }
    
}
.sglRank {
    display: flex;
    flex-direction: row;
    margin: 8px;
    padding: 4px;
    max-width: 100vw;
    overflow: hidden;
    p {
        margin: 12px;
        min-width: 24px;
    }
    img {
        width: 48px;
        height: 48px;
        margin-right: 8px;
    }
    .one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        p {
            padding: 0;
            margin: 0;
            font-size: 16px;
        }
        .gexp {
            color: gray;
            font-size: 12px;
            vertical-align: sub;
        }
    }
    a, button {
        background-color: rgb(10, 10, 10);
        border: 1px solid white;
        color: white;
        cursor: pointer;
        text-decoration: none;
        font-size: 12px;
        align-self: center;
        padding: 12px;
        height: 40px;
        max-height: 40px;
    }
    a {
        height: 14px;
        max-height: 14px;
    }
    a:hover, button:hover {
        transition-duration: 100ms;
        background-color: rgb(25, 25, 25);
        
    }
}
#guildInfo {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(15, 15, 15);
    border-radius: 0;
    border: none;
    
    overflow-y: scroll;
    max-height: 100%;
    button {
        border-radius: 100%;
        margin-left: 12px;
        margin-top: 12px;
        background-color: black;
        color: white;
        width: 48px;
        height: 48px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid gray;
        cursor: pointer;
    }
    h1 {
        padding: 0;
        margin: 0;
        font-size: 24px;
    }
    .b {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
        p {
            padding: 4px;
            margin: 0;
        }
        .shrinkMobile {
            font-size: 12px;
        }
        
        .infoStatsBar {
            display: block;
            border-radius: 5px;
            background-color: #D97706;
            width: 100%;
            height: 10px;
            padding: 0;
            .killCounts {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            }
        }
        .infoStatsBarYou {
            display: block;
            border-radius: 5px;
            background-color: #818CF8;
            width: 50%;
            height: 10px;
            margin: 0;
            
        }
    }
    .m24 {
        margin: 12px;
    }
    .mx24 {
        margin-left: 24px;
        margin-right: 24px;
    }
    .bg {
        background-color: rgb(25, 25, 25);
        border-radius: 10px;
        padding: 4px;
        width: 165px;
    }

}
#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        width: 100vw;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    button {
        background-color: rgb(10, 10, 10);
        color: white;
        transition-duration: 100ms;
        border: 1px solid gray;
        border-bottom: 2px solid gray;
        border-radius: 5px;
        width: 100px;
        height: 40px;
        margin: 4px;
        cursor: pointer;
    }
    button:hover {
        transition-duration: 100ms;
        background-color: rgb(25, 25, 25);
    }
}
input {
    border-radius: 5px;
    transition-duration: 100ms;
    border: 1px solid gray;
    padding: 8px;
    margin: 8px;
    color: white;
    background-color: rgb(10, 10, 10);
}
input:hover {
    transition-duration: 100ms;
    background-color: rgb(25, 25, 25)
}
.mini {
    color: rgb(150, 150, 150);
    font-size: 12px;
    margin-bottom: 24px !important;
}
.desktopOnlyBlock {
    display: none;
}
.desktopOnlyFlex {
    display: none;
}
@media only screen and (orientation: landscape) {
    .desktopOnlyBlock {
        display: block;
    }
    .desktopOnlyFlex {
        display: flex;
    }
    #guildInfo {
        width: 80vw;
        height: 80vh;
        top: 10vh;
        left: 10vw;
        border-radius: 25px;
        border: 1px solid white;
         h1 {
                font-size: 32px;
            }
        
        .shrinkMobile {
            font-size: 16px !important;
        }
        .infoStatsBar {
            width: 65% !important;
        }
        .bg {
            width: 200px;
        }
    }
    #memberList {
        margin-left: 25vw;
        flex-direction: row;
    }
    .memberList {
        width: 50vw;
    }
    .member 
        .memberInfo
            .one 
                p {
                    font-size: 20px;
                }
        
    
    .memberOptionsGuide {
        flex-direction: column;
        width: 100%;
    }
    .memberOptionsGuideText {
        max-width: 200px;
        padding: 8px;
    }
    .full {
        width: calc(100% - 8px) !important;
    }
    .sglRank {
        .one {
            p {
                font-size: 24px;
            }
            .gexp {
                font-size: 16px;
            }
        }
    }
    #settings {
        div {
            width: 67vw;
            max-width: 67vw;
        }
    }
    .m24 {
        margin: 24px;
    }
}